<!--=== Footer Version 1 ===-->
<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-6 md-margin-bottom-40">
          <a href="index.html"><img id="logo-footer" class="footer-logo" src="/assets/img/logo2-default.png" alt=""></a>
          <p>
            FluentBit is an open source specialized data collector. It provide built-in metrics and general purpose output interfaces for centralized collectors such as Fluentd.
          </p>
        </div><!--/col-md-3-->
        <!-- End About -->


        <!-- Link List -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2>Links</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="http://www.fluentd.org">Fluentd</a><i class="fa fa-angle-right"></i></li>
            <li><a href="http://www.embulk.org">Embulk</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div><!--/col-md-3-->
        <!-- End Link List -->

        <!-- Address -->
        <div class="col-md-3 map-img md-margin-bottom-40">
          <div class="headline"><h2>Contact Us</h2></div>
          <address class="md-margin-bottom-40">
            2565 Leghorn St <br />
            Mountain View, CA 94043 <br />
            United States <br />
            Email: <a href="mailto:info@treasuredata.com" class="">info@treasuredata.com</a>
          </address>
        </div><!--/col-md-3-->
        <!-- End Address -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            2015-2016 &copy; Treasure Data. All Rights Reserved.
          </p>
        </div>

        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a href="http://slack.fluentd.org" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Slack">
                <i class="fa fa-slack"></i>
              </a>
            </li>
            <li>
              <a href="http://twitter.com/fluentbit" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div>
    </div>
  </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->
