<!--=== Footer Version 1 ===-->
<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-6 md-margin-bottom-40">
          <a href="index.html"><img id="logo-footer" class="footer-logo" src="/assets/img/logo2-default.png" alt=""></a>
          <p>
            Fluent Bit is an open source Log Processor and Forwarder. It's a CNCF subproject under the umbrella of Fluentd
          </p>
        </div><!--/col-md-3-->
        <!-- End About -->


        <!-- Link List -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2>Ecosystem Projects</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="http://www.fluentd.org">Fluentd</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div><!--/col-md-3-->
        <!-- End Link List -->

        <!-- Address -->
        <div class="col-md-3 map-img md-margin-bottom-40">
        </div><!--/col-md-3-->
        <!-- End Address -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            2015-2021 &copy; <a href="https://github.com/fluent/fluent-bit/graphs/contributors">The Fluent Bit Authors</a>. All Rights Reserved.
          </p>
        </div>

        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a href="http://slack.fluentd.org" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Slack">
                <i class="fa fa-slack"></i>
              </a>
            </li>
            <li>
              <a href="http://twitter.com/fluentbit" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div>
    </div>
  </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->
