<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Web Fonts -->
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="{{ "/assets/plugins/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

  <!-- CSS Header and Footer -->
  <link rel="stylesheet" href="{{ "/assets/css/pages/profile.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/headers/header-v6.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/footers/footer-v1.css" | prepend: site.baseurl }}">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{{ "/assets/plugins/animate.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/plugins/line-icons/line-icons.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/plugins/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">

  <!-- CSS Theme -->
  <link rel="stylesheet" href="{{ "/assets/css/theme-colors/orange.css" | prepend: site.baseurl }}" id="style_color">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | prepend: site.baseurl }}">
</head>
