<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{ "/assets/plugins/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/jquery/jquery-migrate.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ "/assets/plugins/back-to-top.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/smoothScroll.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/jquery.parallax.js" | prepend: site.baseurl }}"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{{ "assets/js/custom.js" | prepend: site.baseurl }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ "assets/js/app.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "assets/js/plugins/style-switcher.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  jQuery(document).ready(function() {
  App.init();
  StyleSwitcher.initStyleSwitcher();
  });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
