/*--------------------------------------------------
    [1. General]
---------------------------------------------------- */
.font-main {
	font-family: 'Ek Mukta', sans-serif !important;
}

@media (min-width: 991px){
	.promo-padding-top {
		padding-top: 85px;
	}
}

/* Default highlight color */
::-moz-selection {
  color: #fff;
  background: #f7b70b;
}
::selection {
  color: #fff;
  background: #f7b70b;
}
/* General use classes */
.no-padding {
	padding: 0;
}

.no-side-padding {
	padding-left: 0;
	padding-right: 0;
}

.no-column-space [class^="col-"],
.no-column-space [class*=" col-"] {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}

/*Pace loader*/
.pace .pace-progress {
	background: #f7b70b;
}

.pace .pace-progress-inner {
 	box-shadow: 0 0 10px #f7b70b, 0 0 5px #f7b70b;
}

.pace .pace-activity {
	border-top-color: #f7b70b;
	border-left-color: #f7b70b;
}

/* --------------------------------------------------
    [2. Header]
---------------------------------------------------- */
/* Giving a min height */
@media (min-width: 992px) {	
	.construction-header.one-page-header.navbar {
    padding: 8px 0px;
    transition: all 0.3s ease-in-out,
	}

	.construction-header.one-page-header.top-nav-collapse {
    padding: 3px 0;
	}

	.construction-header.one-page-header .navbar-nav > li > a {
		max-height: 25px;
		line-height: 0.8;
	}
}

/* background */
.construction-header.one-page-header {
  background: #fff;
  border-radius: 0;
}

/* navbar brand (logo) */
.construction-header.one-page-header .navbar-brand {
	height: auto;
}

.construction-header.one-page-header .navbar-brand img {
	max-height: 45px;
}

/* Designing the a links */
.construction-header.one-page-header .navbar-nav > li > a,
.construction-header.one-page-header .navbar-nav > li > a:focus {
	padding: 8px 5px;
	margin: 0 3px;
	font-size: 12px;
	font-weight: bold;
  text-transform: uppercase;
  color: #222;
}

/* Removing before circles */
.construction-header.one-page-header .navbar-nav > li > a:before {
	display: none;
}

.construction-header.one-page-header .navbar-nav > li > a:hover {
	color: #f7b70b;
}

/*active*/
.construction-header.one-page-header .navbar-nav > .active > a,
.construction-header.one-page-header .navbar-nav > .active > a:hover,
.construction-header.one-page-header .navbar-nav > .active > a:focus {
  z-index: 1;
	color: #f7b70b !important;
}

.construction-header.one-page-header.top-nav-collapse .navbar-toggle:hover .icon-bar {
  background: #000;
}

/* Responsive mode */
@media (min-width: 768px) and (max-width: 991px) {
  .one-page-header .menu-container {
    width: initial;
  }
}

@media (max-width: 992px) {
	.construction-header.one-page-header .navbar-nav > li > a,
	.construction-header.one-page-header .navbar-nav > li > a:focus {
	  padding: 7px 0;
	}
}

@media (max-width: 992px) and (min-width: 990px) {
	/* Fixing the damage over 2 pixels right before the breakpoint */
	.construction-header.one-page-header .navbar-nav > li > a {
  	padding: 5px 2px;
	}
}

@media (max-width: 990px) {
	/* the toggle button */
	.construction-header.one-page-header .navbar-toggle {
		margin-top: 19px;
	}

	.construction-header.one-page-header .navbar-toggle .icon-bar {
    background: #000;
	}

	/* Removing margin for the navbar */
	.construction-header.one-page-header-style-2.navbar .navbar-nav {
   	margin: 0;
	}
}

/* --------------------------------------------------
    [3. Banner]
---------------------------------------------------- */
.promo-block {
	position: relative;
	z-index: 1;
}
.promo-block:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: -1;
}

.promo-block__content {
	position: absolute;
	top: 50%;
	margin-top: -135px;
	right: 0;
	left: 0;
}

.promo__title {
	position: relative;
}
.promo__title:after {
	position: absolute;
	width: 10px;
  height: 124px;
  background: #f7b70b;
  top: 50%;
  margin-top: -62px;
  content: "";
}
.promo__title--left-bar:after {
	left: 0;
}
.promo__title--right-bar:after {
	right: 0;
}

.promo__pretitle {
	color: #f7b70b;
	font-weight: bold;
	font-size: 20px;
}

.promo__title {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 76px;
	line-height: 0.9;
}

@media (max-width: 885px) {
	.promo__title {
		font-size: 65px;
	}
}

@media (max-width: 768px) {
	.promo__title:after {
	  height: 80px;
	  margin-top: -40px;
	}
}

@media (max-width: 495px) {
	.promo__title {
		font-size: 50px;
	}
}

/* --------------------------------------------------
    [4. About]
---------------------------------------------------- */
.call-action-v1 .call-action-v1-in.inner-btn {
  min-width: 170px;
}

.cta__title {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 26px;
}

.cta__text {
	color: #fff;
	font-size: 16px;
	font-weight: lighter;
	line-height: 1.2;
}

/*about tab*/
.about__title {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: 18px;
}

.about__text {
	font-size: 16px;
  color: #a7a7a7;
}

/*Tabs*/
.panel {
  box-shadow: none;
  border: none;
}
.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}
.acc-v1 .panel-heading a {
  font-size: 12px;
  padding: 30px 0 15px;
  background:#fff;
  color: #f7b70b;
  border-bottom: 2px solid #f7b70b; 
  text-transform: uppercase;
  font-weight: bold;
}
.acc-v1.plus-toggle .panel-heading a.collapsed {
	color: #2c2c2c;
	border-bottom: 2px solid #efefef; 
}
.acc-v1 .panel-heading a .tab-icon {
  font-size: 12px;
  color: #f00;
}
.acc-v1 .panel-heading a:hover {
  text-decoration: none;
  color: #f7b70b;
}
.acc-v1.plus-toggle .panel-heading a.collapsed:hover {
	color: #2c2c2c;
}

.tab__icon {
	font-size: 23px;
	color: #f7b70b;
	vertical-align: middle;
}

.panel-body {
  padding: 20px 0 0;
}
.panel-body p {
  line-height: 1.7;
  font-size: 14px;
  color: #a7a7a7;
  margin-bottom: 0;
}

.panel-heading {
	position: relative;
}
/* Plus Toggle */
.acc-v1.plus-toggle .panel-heading a:before {
  color: #f7b70b;
  font-size: 12px;
  content: "\f063";
  line-height: 12px;
  position: absolute;
  right: 0;
  top: 36px;
  background: transparent;
  font-family: FontAwesome;
}
.acc-v1.plus-toggle .panel-heading a.collapsed:before {
  content: "\f061";
}

/* --------------------------------------------------
    [5. Service]
---------------------------------------------------- */
.best-service--1 { background: url(../img-temp/services/service18.jpg) no-repeat scroll 50% 0 / cover;}
.best-service--2 { background: url(../img-temp/services/service16.jpg) no-repeat scroll 50% 0 / cover;}
.best-service--3 { background: url(../img-temp/services/service14.jpg) no-repeat scroll 50% 0 / cover;}
.best-service--4 { background: url(../img-temp/services/service15.jpg) no-repeat scroll 50% 0 / cover;}

.best-service {
	min-height: 400px;
	position: relative;
	background-size: 100% 100% ;
	transition: all .5s;
	z-index: 1;
}
.best-service:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: rgba(0,0,0,0.6);
	z-index: -1;
}
.best-service:hover {
	background-size: 120% 120%;
	transition: all .5s;
}

.best-service__title {
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}

.best-service__text {
	font-size: 14px;
	color: #fff;
	opacity: 0.7;
}


/*Services tab*/
.tab-v3 .nav-pills li a {
  color: #000;
  font-size: 12px;
  padding: 20px 0 15px;
  margin-bottom: 3px;
  background: transparent;
  border: 1px solid #efefef;
  border-right: none;
  border-left: none;
  border-bottom: none;
  text-transform: uppercase;
  font-weight: bold;
}

.tab__fa{
	color: #f7b70b;
	font-size: 12px;
}

@media (max-width: 992px) and (min-width: 768px) {
	.tab-v3 .nav-pills li a {
	  padding: 20px 20px 15px;
	}
	.tab__fa{
		margin-left: -20px;
	}
}

/*giving border bottom to the last pill*/
.tab-v3 .nav-pills li.last a {
	border-bottom: 1px solid #efefef;
}
.tab-v3 .nav-pills li.last.active a,
.tab-v3 .nav-pills li.last a:hover {
	border-bottom: 1px solid #efefef;
}


/*hover and active*/
.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
  color: #f7b70b;
  background: transparent;
  border: 1px solid #efefef;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

/*tab content*/
.tab-v3 .tab-content {
  padding: 0;
  background: transparent;
  border: none;
}

.service__title {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

.service__text {
  font-size: 14px;
  color: #a7a7a7;
}

/* --------------------------------------------------
    [6. Recent projects]
---------------------------------------------------- */
.project__cat {
	color: #fff;
	opacity: 0.8;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

.project__title {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.project__img {
	box-shadow: 2px 2px 2px #cd9d18;
}

.project__text {
	color: #fff;
	opacity: 0.8;
	font-size: 14px;
	line-height: 1.8;
}


/* --------------------------------------------------
    [7. Testimonials]
---------------------------------------------------- */
.testi {
	position: relative;
	box-shadow: 2px 2px 2px #efefef;
	background: #fff;
	padding: 90px 35px 35px;
	/*z-index: -1;*/
}

.testi__img {
	width: 100px !important;
	height: 100px;
	position: absolute;
	top: -50px;
	left: 50%;
	margin-left: -50px;
	border: 10px solid #f9f9f9;
}

.testi__name {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

.testi__company {
	color: #a7a7a7;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.icon-custom.testi__fa {
	color: #fff;
	background: #f7b70b;
	border: none;
	margin-bottom: 30px;
	font-size: 12px;
}

.testi__text {
	color: #a7a7a7;
	font-size: 14px;
	line-height: 1.5;
}

/*clients*/
.client__img {
	width: 100%;
	height: auto;
	max-width: 120px;
	margin: 0 auto;
}

/* --------------------------------------------------
    [8. Gallery]
---------------------------------------------------- */
/*Portfolio filter*/
.cube-portfolio .cbp-l-filters-text .cbp-filter-item {
  color: #a7a7a7;
  padding: 30px 10px;
  font-size: 12px;
  border: 1px solid #f1f1f1;
  margin: 0 -2px!important;
  min-width: 120px;
}
.cube-portfolio .cbp-l-filters-text .cbp-filter-item:hover,
.cube-portfolio .cbp-l-filters-text .cbp-filter-item:focus,
.cube-portfolio #filters-container .cbp-filter-item-active {
  color: #f7b70b;
  border-color: #f1f1f1;
  border-top: 1px solid #f7b70b;
  background: transparent !important;
}

/*Portfolio caption*/
.cbp-l-caption-alignLeft .cbp-l-caption-body {
  background:rgba(247,183,11,0.9);
	padding: 30px 10px 0 30px;
	height: 95px;
}
.cbp-caption-overlayBottom .cbp-caption-activeWrap {
  height: 95px;
  background:transparent;
}

.cbp-caption-defaultWrap {
	max-height: 235px;
}

/*Portfolio caption content*/
.cbp-cat {
	text-transform: uppercase;
	color: #fff;
	opacity: 0.7;
	font-weight: bold;
	font-size: 11px;
}

.cbp-l-caption-title {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}







/* --------------------------------------------------
    [9. Career]
---------------------------------------------------- */
.career__title {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 26px;
}

.career__text {
	color: #fff;
	opacity: 0.8;
	font-size: 16px;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/*Owl controls*/
.controls-v3.owl-theme .owl-controls .owl-buttons div {
  padding: 15px 19px;
  width: 49px;
  height: 49px;
  color: #f7b70b;
  background: #111;
  font-size: 13px;
  cursor: pointer;
  /*border: 3px solid #111;*/
}

.controls-v3.owl-theme .owl-controls .owl-buttons div:hover,
.controls-v3.owl-theme .owl-controls .owl-buttons div:focus {
 	opacity: 0.8;
}

.controls-v3.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top: 28%;
}

.controls-v3.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 30px;

}

.controls-v3.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 30px;
}

@media (max-width: 390px) {
	.controls-v3.owl-theme .owl-controls .owl-buttons .owl-prev {
  	left: 10px;
	}

	.controls-v3.owl-theme .owl-controls .owl-buttons .owl-next{
	  right: 10px;
	}
}

/* --------------------------------------------------
    [10. Contact]
---------------------------------------------------- */
/*Contacts table*/
.contact__cell {
	padding: 27px 15px;
	float: left;
	width: 50%;
	margin: 0;
	background: transparent;
	/*border: 1px solid #f1f1f1;*/
}

.contact__cell--2 {
	border-left: 1px solid #f1f1f1;
}

.contact__cell--3,
.contact__cell--4 {
	border-top: 1px solid #f1f1f1;
}

.contact__cell--4 {
	border-left: 1px solid #f1f1f1 ;
}

.contact-list__icon {
	font-size: 50px;
	color: #f7b70b;
}

.contact-list__item-1 {
	text-transform: uppercase;
	color: #a7a7a7;
	font-size: 11px;
}

.contact-list__item-2 {
	color: #000;
	font-size: 11px;
	font-weight: bold;
}

/*form*/
@media (min-width: 992px) {
	fieldset.contact__form-fieldset {
		padding-left: 0;
	}
}

.contact__form-control {
	border: none;
	background: #f5f5f5;
	min-height: 45px;
	padding-left: 20px;
}
.contact__form-control:focus {
	border: none;
}

/* Form placeholder for different browsers */
.contact__form-control::-webkit-input-placeholder {
  color: #9797a2;
  font-size: 14px;
  font-family: 'Ek Mukta', sans-serif;

}

.contact__form-control::-moz-placeholder {
  color: #9797a2;
  font-size: 14px;
  font-family: 'Ek Mukta', sans-serif;
}

.form .btn-u__fa {
	margin-right: 15px !important;
}

.sky-form .message i {
  border-color: #f7b70b;
}
.sky-form .message {
  color: #f7b70b;
}

/* --------------------------------------------------
    [11. Footer]
---------------------------------------------------- */
.footer__text {
	font-size: 13px;
	color: #fff;
	vertical-align: middle;
}
.footer__text strong {
	font-weight: bolder;
	font-size: 14px;

}

.footer__support {
	font-size: 11px;
	color: #fff;
	text-transform: uppercase;
}

.footer__support--phone {
	font-size: 22px;
	font-weight: bold;
}

.icon-custom.footer__fa,
.icon-custom.footer__fa:focus {
	background: #000;
	color: #fff;
	border: none;
	font-size: 13px;
}
.icon-custom.footer__fa:hover {
	background: #fff;
	color: #f7b70b;
}






























/* --------------------------------------------------
    [7. Gallery]
---------------------------------------------------- */
/*Portfolio*/
/*.cube-portfolio--mod .cbp-caption-fadeIn .cbp-caption-activeWrap {
  padding: 30px;
  background: transparent;
}

.cube-portfolio--mod .cbp-caption-fadeIn .cbp-l-caption-body {
	background-color: rgba(107,218,149,0.8);
  transition: opacity 1s cubic-bezier(0.19, 0.6, 0.22, 0.6) 0s;
  text-align: center;
}

.cube-portfolio--mod .cbp-l-caption-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}

.cube-portfolio--mod .cbp-caption-fadeIn .cbp-l-caption-body p {
	color: #fff;
	opacity: 0.7;
	font-size: 12px;
	max-width: 80%;
	margin: 0 auto;
	line-height: 1.4;
}
*/



