/* Add here all your css styles (customizations) */


/*Navbar Menu*/
.header-v6 .navbar-nav > li > a {
    font-size: 12px;
}

/*Interactive Slider v2
------------------------------------*/
.interactive-slider-v2 {
  padding: 20px 0;
}

.interactive-slider-v2 h1 {
    font-size: 30px;
    padding-bottom: 0px;
}

.interactive-slider-v2 p {
    font-size: 20px;
}


.interactive-slider-v2:after {
  background: rgba(0,0,0,.4);
}

.interactive-slider-v2 h1 {
    text-tranform: none;
}

.flb-intro {
    padding-top: 10px;
    font-size: 16px;

}

.flb-intro img {
    padding-top: 10px;
}

.service-bg-latest {
	width: 250px;
	padding: 20px;
	position: absolute;
	top: -10px;
	right: -80px;
	/*background-color: rgba(12,25,128,0.1);*/
        background-color: rgba(236, 211, 0, 1);
	transform: rotate(40deg);
}

.service-bg-lts {
	width: 250px;
	padding: 20px;
	position: absolute;
	top: -10px;
	right: -80px;
	/*background-color: rgba(12,25,128,0.1);*/
        background-color: rgba(72, 140, 222, 1);
	transform: rotate(40deg);
}

.service-bg {
	width: 250px;
	padding: 20px;
	position: absolute;
	top: -10px;
	right: -80px;
	background-color: rgba(255,255,255,0.1);
	transform: rotate(40deg);
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}
