<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="header-fixed header-fixed-space">
    <div class="wrapper">
      {% include header.html %}

      <!-- Interactive Slider v2 -->
      <div class="interactive-slider-v2 img-v1">
        <div class="container">
          <h1>Knowledge Base</h1>
        </div>
      </div>
      <!-- End Interactive Slider v2 -->

      <div class="container">
        <!--=== Content Part ===-->
        <div class="container content">
          <div class="row portfolio-item margin-bottom-50">

            <!-- Begin Sidebar Menu -->
            <div class="col-md-3">
	      <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
	        <!-- Official docs -->
	        <li class="list-group-item list-toggle active">
	          <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-typography">Fluent Bit Documentation</a>
	          <ul id="collapse-typography" class="collapse in">
	            <li class="active">
		      <span class="badge badge-u">New</span>
                      <a href="https://docs.fluentbit.io/manual/v/1.6">
                        <i class="fa fa-book"></i> Fluent Bit v1.6
                      </a>
                    </li>
	          </ul>
	        </li>
	        <!-- End Official docs -->

	        <!-- Release Notes -->
	        <li class="list-group-item list-toggle">
	          <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-buttons">Release Notes</a>
	          <ul id="collapse-buttons">
	            <li>
		      <span class="badge badge-u">New</span>
		      <a href="/announcements/v{{ site.flb_version }}/"><i class="fa fa-bookmark"></i> Latest: v{{ site.flb_version }}</a>
	            </li>
	            <li>
		      <a href="/announcements/"><i class="fa fa-bars"></i> All Release Notes</a>
	            </li>
	          </ul>
	        </li>
	        <!-- End Release Notes -->

	        <!-- Thumbails -->
	        <li class="list-group-item"><a href="/articles/">Articles</a></li>
	        <!-- End Thumbails -->
	      </ul>
            </div>
            <!-- End Sidebar Menu -->


            <!-- Content Info -->
            <div class="col-md-9">
              {{ content }}

              {% assign current = page.url | downcase | split: '/' %}
              {% assign entries = current | size %}
              {% if current[1] == "announcements" and entries > 2 %}
              <h2>Join us!</h2>
              <p>
                We want to hear about you, our community is growing and you can be part of it!, you can contact us at:
              </p>
              <ul>
                <li><i class="fa fa-fw fa-slack"></i> Slack: <a href="http://slack.fluentd.org">http://slack.fluentd.org</a></li>
                <li>
                  <i class="fa fa-fw fa-inbox"></i> Mailing list: <a href="https://groups.google.com/forum/#!forum/fluent-bit">https://groups.google.com/forum/#!forum/fluent-bit</a>
                </li>
                <li><i class="fa fa-fw fa-github"></i> Github: <a href="http://github.com/fluent/fluent-bit">http://github.com/fluent/fluent-bit</a></li>
                <li><i class="fa fa-fw fa-wechat"></i> IRC: irc.freenode.net #fluentbit</li>
                <li><i class="fa fa-fw fa-twitter"></i> Twitter: <a href="http://twitter.com/fluentbit">@fluentbit</a></li>
              </ul>
              {% endif %}
            </div>
          <div class="margin-bottom-20 clearfix"></div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
