<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="header-fixed header-fixed-space">
    <div class="wrapper">
      {% include header.html %}

      <!-- Interactive Slider v2 -->
      <div class="interactive-slider-v2 img-v1">
        <div class="container">
          <h1>Fluent Bit</h1>
        </div>
      </div>
      <!-- End Interactive Slider v2 -->
      <!--=== Purchase Block ===-->
      <div class="purchase">
        <div class="container overflow-h">
          <div class="row">
            <div class="col-md-9 animated fadeInLeft">
              <span>
                Fluent Bit v{{ site.flb_version }} is out!
              </span>
              <p>
                It have been released on <strong>{{ site.flb_release_date }}</strong>, check out the <a href="/announcements/v{{ site.flb_version }}/">Release Notes</a>, read the <a href="/documentation/{{ site.flb_major }}/">Updated Documentation</a>  or jump directly to the <a href="/download/">Downloads Section</a>.
              </p>
            </div>
            <div class="col-md-3 btn-buy animated fadeInRight">
              <a href="/download/" class="btn-u btn-u-lg"><i class="fa fa-cloud-download"></i> Download Now</a>
            </div>
          </div>
        </div>
      </div><!--/row-->
      <!-- End Purchase Block -->

      <!--=== Content ===-->
        {{ content }}
      <!--=== End Content ===-->

      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
