<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="header-fixed header-fixed-space">
    <div class="wrapper">
      {% include header.html %}

      <!-- Interactive Slider v2 -->
      <div class="interactive-slider-v2 img-v1">
        <div class="container">
          <h1>Fluent Bit</h1>
        </div>
      </div>
      <!-- End Interactive Slider v2 -->

      <!--=== Content ===-->
        {{ content }}
      <!--=== End Content ===-->

      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
